<div class="container-fluid" id="newsletterSection">
<div class="row text-center justify-content-center">
    <div class="col-12">
        <img class="img-fluid newsletterImage" src="/assets/img/elements/messageIcon.png" alt="">
    </div>
    <div class="col-12">
        <div class="newsletterTitle mt-4">
            Like Our Services? Subscribe Us
        </div>
        <div class="newsletterSuptitle mt-2">
            As a app web crawler expert, I help organizations adjust to the <br> expanding significance of internet promoting.
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
        <div class="newsletterForm mt-5">
            <div class="input-group">
                <input type="email" class="form-control newsletterTextInput" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn borderedBtn" type="button">Subscribe</button>
                </div>
              </div>
        </div>
    </div>
</div>
</div>