<div class="container-fluid" id="aboutSection">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5" style="margin-block: auto;">
            <img src="assets/img/home/aboutSectionCrop.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-1 d-none d-lg-block">
            <div class="centerLine">
                <hr>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="aboutText">
                <div class="aboutTitle">
                    About Us
                </div>
                <div class="aboutSubtitle">
                    Bringing an innovative transformation in the industry
                </div>
                <p class="aboutDescription">
                   {{descdescription}}
                </p>
                <div class="aboutBtn">
                    <button class="btn letsTalk">LET'S TALK!</button>
                </div>
            </div>
        </div>
    </div>
</div>