        <app-header class="header"></app-header>
        <app-banner class="banner"></app-banner>
        <app-brand class="brand"></app-brand>
        <app-about class="about"></app-about>
        <app-counter class="counter"></app-counter>
        <app-agri-field class="agri-field"></app-agri-field>
        <app-video class="video"></app-video>
        <div class="ringSection">
                <app-newsletter class="newsletter"></app-newsletter>
        </div>
        <app-footer class="footer"></app-footer>