#aboutSection{
    /* background-color: #000000; */
    padding-bottom: 40px;
}
.aboutTitle{
    font-family: var(--custom-title-font) !important;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.aboutSubtitle{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 30px 0px;
}
.aboutDescription{
    font-size: 17px;
    color: #fff;
    margin: 20px 0px;
}
.letsTalk{
    background-color: var(--custom-primary-color);
    font-family: var(--custom-title-font);
    padding: 13px 70px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.aboutBtn{
    margin: 30px 0px;
}
.aboutText{
    padding: 20% 0% 20% 0;
    background-image: url("/assets/img/elements/blurredCircle.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 100% 100%
}
.centerLine{
    padding: 90% 10% 0% 10%;
}
.centerLine hr{
    background-color: #fff;
    height: 3px;
    opacity: 1;
    border-radius: 10px;
}

.agri-field-wrapper{
    border: 1px solid #fff;
    flex: 0 0 auto;
    width: 58.33333333%;
    padding: 14px 12px;
    /* float: right; */
    height: min-content;
}
.agri-field-wrapper img{
    margin-left: -49px;
    max-width: 340px;
}
.agri-field-text-wrapper{
    padding: 0 20px;
}
.agri-field-text-wrapper .title{
    font-size: 25px;
}
.agri-field-text-wrapper .sub-title{
    font-size: 10px;
}
.agri-field-text-wrapper .description{
    font-size: 13px;
}