<div class="container-fluid" id="aboutSection">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="aboutText text-end">
                <div class="aboutTitle">
                    About Us
                </div>
                <div class="aboutSubtitle">
                    Simple! Our Mission is to become the best design agency in the world!
                </div>
                <p class="aboutDescription">
                    What's an outsourced marketing un-agency, you say? Well,we're the antithesis to your run-of-the-mill agency that oversells and underdelivers.
                   </p> <p class="aboutDescription">
                    Lately, it's been about closing the biggest contracts. But what about making the biggest impact for clients? Our goal is to get RESULTS that will make clients HAPPY without overpricing.
                    <p> <p class="aboutDescription">
                    Feeling skeptical? Work with us, and see the difference between getting marketing partners invested in your growth, versus salesman invested in milking you dry!
                </p>
                <div class="aboutBtn">
                    <button class="btn letsTalk">LET'S TALK!</button>
                </div>
            </div>
        </div>
        <div class="col-1 d-none d-lg-block">
            <div class="centerLine">
                <hr>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 d-flex justify-content-center">
            <div class="agri-field-wrapper mt-5 ms-5">
                <img src="assets/img/home/strawberry-field.jpg" class="img-fluid" alt="">
                <div class="text-end"> <i class="fal fa-angle-right"></i> </div>
                <div class="text-end"> <i class="fal fa-angle-left"></i> </div>
                <div class="agri-field-text-wrapper">
                    <div class="title"> Agricultural-Field </div>
                    <div class="sub-title mt-2 mb-2"> Lorem Ipsum dummy text</div>
                    <p class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    </p>
                </div>
            </div>
        </div>       
    </div>
</div>