<footer class="andro_footer">
    <!-- <div class="container">
        <div class="andro_footer-top">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-12 footer-widget p-0">
                    <ul>
                        <li> 
                            <div class="andro_footer-logo">
                                <img class ="logoImg img img-fluid" src="assets\img\logo\logo.png" alt="Agriculturetechnology,Agtech,agritech,AI,Blockchain,e-marketplace,e-platform,farmers,traders,agriculture economy,farmgate,IoT">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-12 footer-widget align-self-end">
                    <ul>
                        <li>
                            <h5 class="widget-title">COMPANY</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-12 footer-widget align-self-end">
                    <ul>
                        <li>
                            <h5 class="widget-title">CONTACT </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <div class="andro_footer-middle">
        <div class="container-fluid">
           
            <div class="row no-gutters mb-4">
                <div class="col-xl-4 col-lg-4 col-sm-12 footer-widget">
                    <!-- <h5 class="widget-title">Sitemap</h5> -->
                    <div class="footer-widget-heading d-flex align-items-end">
                        <!-- <li> -->
                            <div class="andro_footer-logo">
                                <img class ="logoImg img img-fluid" src="assets\img\logo\logo.png" alt="Agriculturetechnology,Agtech,agritech,AI,Blockchain,e-marketplace,e-platform,farmers,traders,agriculture economy,farmgate,IoT">
                            </div>
                        <!-- </li> -->
                    </div>
                    <ul>
                        
                        <li>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            </p>
                        </li>
                        <!-- <li> <a class="andro_back-to-top" routerLink='/'>Home</a> </li> -->
                        <!-- <li> <a href="#" target="_blank">About Us</a> </li>
                        <li> <a class="andro_back-to-top" routerLink='/shop'>Live Trading</a> </li>
                        <li> <a class="andro_back-to-top" routerLink='/careers'>Careers</a> </li>
                        <li> <a class="andro_back-to-top" routerLink='/contact'>Contact Us</a> </li> -->
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 footer-widget">
                    <div class="footer-widget-heading d-flex align-items-end">
                         <h5 class="widget-title">COMPANY</h5>
                    </div>
                    <ul>
                        
                        <div class="row">
                            <div class="col-6">
                                <li> <a href="#" target="_blank">About Us</a> </li>
                                <li> <a class="andro_back-to-top" routerLink='/contact'>Contact Us</a> </li>
                                <li> <a class="andro_back-to-top" routerLink='/careers'>Careers</a> </li>
                                <li> <a class="andro_back-to-top" routerLink='/shop'>Support</a> </li>
                            </div>
                            <div class="col-6">
                                <li> <a >FAQ</a> </li>
                                <li> <a >Terms</a> </li>
                                <li> <a >Privacy</a> </li>
                                <li> <a >Blog</a> </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-sm-12 footer-widget">
                        <ul>
                            <li> <h5 class ="widget-title">&nbsp;</h5> </li>
                            <li> <a >FAQ</a> </li>
                            <li> <a >Terms</a> </li>
                            <li> <a >Privacy</a> </li>
                            <li> <a >Blog</a> </li>
                        </ul>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 footer-widget">
                    <div class="footer-widget-heading d-flex align-items-end">
                         <h5 class="widget-title">CONTACT </h5>
                    </div>
                    <ul>
                        <li>Phone: 1818-121-1111</li>
                        <li class="">Email: info@gmail.com</li>
                        <li class="">Address: 42 Ratan Jyot Indl Estate Vile Parle West, Mumbai, 400056, India</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="andro_footer-bottom">
        <div class="container-fluid">
            <div class="justify-content-between d-md-flex">
                <ul class="social-media d-flex">
                    <li>
                        <img class="img img-fluid" src="assets\img\social\f.png">
                    </li>
                    <li>
                        <img class="img img-fluid" src="assets\img\social\t.png">
                    </li>
                    <li>
                        <img class="img img-fluid" src="assets\img\social\i.png">
                    </li>
                    <li>
                        <img class="img img-fluid" src="assets\img\social\y.png">
                    </li>   
                </ul>
                <div class="text-center">
                    © 2021 – All Rights Reserved 
                </div>
            </div>
        </div>
        <!-- <div class="container mt-3">
            <ul>
                <li id ="privacyPolicy"> <a class="andro_back-to-top" routerLink='/legal' routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: false}">Privacy Policy</a> </li>
                <li> <a class="andro_back-to-top" routerLink='/legal' routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: false}">Refund Policy</a> </li>
                <li> <a class="andro_back-to-top" routerLink='/legal' routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: false}">Cookie Policy</a> </li>
                <li> <a class="andro_back-to-top" routerLink='/legal' routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: false}">Terms & Conditions</a> </li>
            </ul>
            <div class="andro_footer-copyright">
                <p> Copyright © 2021 | <span style="color: #50BD4D;">Designed by </span> | All
                    Rights Reserved. </p>
                <a href="#" class="andro_back-to-top">Back to top <i class="fas fa-chevron-up"></i> </a>
            </div>
            </div> -->
        </div>
</footer>